.u-margin-bottom-small {
  margin-bottom: $small;
}

.u-margin-bottom-middle {
  margin-bottom: $middle;
}

.u-margin-bottom-big {
  margin-bottom: $large;
}

.u-margin-left-middle {
  margin-left: $middle;
}
