.header {
  height: 80px;
  width: 100%;
  background-color: $white;
  position: sticky;
  top: 0px;
  padding: 0 $middle;
  z-index: 1;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}

.header__navigation {
  @include widthDefault;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  height: 100%;
}

.header__navigationItems {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  height: 100%;
}

@include smallScreen {
  .header__navigationItems {
    background-color: rgba($black, 0.7);
    position: fixed;
    right: 0;
    top: -16px;
    height: 100vh;
    left: 120vw;
    align-items: center;
    z-index: 3;
    .header__link {
      height: 56px;
      font-size: 18px;
      margin: 0 $middle;
      color: $white;
    }
    .header__link_mobile {
      display: flex;
    }
  }

  .button_hamburger {
    background-color: transparent;
    color: $primary;
  }

  .header__navigationItems_menu-aberto {
    left: 20vw;
  }
}

@include biggerThanSmallScreen {
  .header__link_mobile {
    display: none !important;
  }
}

@include biggerThanSmallScreen {
  .header__navigationItems {
    flex-direction: row;
    li {
      margin-right: $middle;
    }
    ~ .button {
      display: none;
    }
  }
}

.header__logo {
  display: flex;
  img {
    height: 56px;
  }
}

.header__link {
  @include fontBold;
  height: 100%;
  display: flex;
  align-items: center;
  color: $primary;
  cursor: pointer;
}
