.items-especialidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 48px 0;
  @include smallScreen() {
    justify-content: center;
  }
}

.item-especialidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 32px);
  padding: $middle 0;
  text-align: center;
  min-width: 320px;
}

.item-especialidades__containerIcon {
  min-width: 72px;
  min-height: 72px;
  background: $white;
  border: 2px solid $primary;
  box-sizing: border-box;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.05), inset 16px 8px 14px rgba(247, 209, 196, 0.2),
    inset 4px 4px 7px rgba(247, 209, 196, 0.3), inset -4px -4px 7px #ffffff, inset -8px -16px 16px #ffffff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary;
  margin-bottom: 24px;
}
